@font-face {
  font-family: 'Independence_hall';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Independence_hall.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Binggrae-B';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Binggrae-R';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



body {
  font-family: sans-serif;
  background-color: #ffffff;
}

.title-header {
  width: 100%;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.drag-text h3 {
  font-family: 'element-icons';
  font-size: 1.5rem;
  color: black;
  padding: 0;
  margin: 0;
}

.file-upload-image {
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.nav-distance {
  padding: 2.1% 7.7%;
}

.navbar-light .navbar-brand {
  font-family: NanumSquareR;
  line-height: 1.68;
  text-align: left;
  color: #35465d;
}

.navbar-light .navbar-toggler {
  border-color: #ffffff;
}

.navbar-toggler-icon:focus {
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.image-upload-wrap:hover {
  background-color: transparent;
  border: 2px dashed;
}

.image-upload-wrap {
  border: 2px dashed;
  position: relative;
  width: 300px;
  border-radius: 10px;
  margin-top: 0;
}
.image-upload-wrap:hover {
  opacity: 0.6;
}

.recommand-item-header {
  font-family: 'Binggrae-R';
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.recommand-item-sub {
  font-family: 'Binggrae-R';
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  padding: 0;
  line-height: 1.4rem;
  padding: 1rem;
}

.ai-probar-list .ai-probar-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}
.ai-probar-list .ai-probar-box .ai-probar-title {
  width:4rem;
  font-family: 'Binggrae-R';
}
.ai-probar-list .ai-probar-box .probar-value-text {
  font-family: Binggrae-R;
  color: black;
  position: absolute;
  width: 100%;
  height: 1.6rem;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.7rem;
}



.ai-probar-list .ai-probar-box .probar-box-0 {
  width: 100%;
  display: flex;
  height: 1.5rem;
  align-items: center;
  padding: 0;
  position: relative;
  background-color: #ffd8a8;
}
.ai-probar-list .ai-probar-box .probar-value-0 {
  height: 100%;
  background-color: #f76707;
}
.ai-probar-list .ai-probar-box .probar-box-1 {
  width: 100%;
  display: flex;
  height: 1.5rem;
  align-items: center;
  padding: 0;
  position: relative;
  background-color: #d8f5a2;
}
.ai-probar-list .ai-probar-box .probar-value-1 {
  height: 100%;
  background-color: #74b816;
}
.ai-probar-list .ai-probar-box .probar-box-2 {
  width: 100%;
  display: flex;
  height: 1.5rem;
  align-items: center;
  padding: 0;
  position: relative;
  background-color: #a5d8ff;
}
.ai-probar-list .ai-probar-box .probar-value-2 {
  height: 100%;
  background-color: #228be6;
}
.ai-probar-list .ai-probar-box .probar-box-3 {
  width: 100%;
  display: flex;
  height: 1.5rem;
  align-items: center;
  padding: 0;
  position: relative;
  background-color: #eebefa;
}
.ai-probar-list .ai-probar-box .probar-value-3 {
  height: 100%;
  background-color: #cc5de8;
}
.ai-probar-list .ai-probar-box .probar-box-4 {
  width: 100%;
  display: flex;
  height: 1.5rem;
  align-items: center;
  padding: 0;
  position: relative;
  background-color: #c5f6fa;
}
.ai-probar-list .ai-probar-box .probar-value-4 {
  height: 100%;
  background-color: #22b8cf;
}



@media (min-width: 1px) {
  .file-upload {
    margin: 0 auto;
    border-radius: 5px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ai-header {
    font-family: Independence_hall;
    font-size: 1.5rem;
  }
}

@media (min-width: 576px) { 
  .file-upload {
    margin: 0 auto;
    border-radius: 5px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .file-upload {
    margin: 0 auto;
    border-radius: 5px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .file-upload {
    margin: 0 auto;
    border-radius: 5px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ai-header {
    font-family: Independence_hall;
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .file-upload {
    margin: 0 auto;
    border-radius: 5px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1400px) {
  .file-upload {
    margin: 0 auto;
    border-radius: 5px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
}